<template>
  <md-layout md-align="center" class="add-todo-layout">
    <md-button v-if="!todo" class="md-icon-button md-raised md-accent" @click="expand">
      <md-icon>add</md-icon>
    </md-button>

    <md-whiteframe v-else class="add-todo-whiteframe">
      <form @submit.prevent="create" @keyup.esc="close">
        <md-layout md-column>
          <md-input-container>
            <label>Todo</label>
            <md-input v-model="todo.title"></md-input>
          </md-input-container>
          <md-layout md-align="end">
            <md-button @click="close">Cancel</md-button>
            <md-button class="md-raised md-accent" type="submit">Create</md-button>
          </md-layout>
        </md-layout>
      </form>
    </md-whiteframe>
  </md-layout>
</template>

<script>
  export default {
    name: 'add-todo',

    data () {
      return {
        todo: null
      }
    },

    methods: {
      expand () {
        this.todo = {
          title: '',
          completed: false,
          userId: this.$store.state.auth.user.id
        }
      },
      close () {
        this.todo = null
      },
      create () {
        if (this.todo && this.todo.title) {
          this.$emit('created', this.todo)
          this.todo = null
        }
      }
    }
  }
</script>

<style>
  .add-todo-whiteframe {
    width: 100%;
    padding: 15px;
  }
</style>

