<template>
  <md-whiteframe :md-elevation="elevation" class="todo-whiteframe">
    <md-layout md-vertical-align="center" class="todo-item" @click.native="toggleTodo">
        <transition name="done-fade">
          <md-icon v-if="todo.completed" class="md-primary icon-done">done</md-icon>
        </transition>
        <md-layout>
          <div>{{todo.title}}</div>
        </md-layout>
    </md-layout>
  </md-whiteframe>
</template>

<script>
  export default {
    name: 'todo-item',

    props: ['todo'],

    computed: {
      elevation () {
        return this.todo.completed ? 0 : 1
      }
    },

    methods: {
      toggleTodo () {
        this.$emit('toggle')
      }
    }
  }
</script>

<style scoped>
  .todo-item {
    height: 50px;
    padding: 15px;
    cursor: pointer;
  }
  .todo-item:hover {
    background-color: rgba(100, 100, 100, 0.1)
  }
  .todo-whiteframe {
    transition: box-shadow 1s;
  }
  .todo-button {
    width: 180px;
  }
  .icon-done {
    margin-right: 10px;
  }
  .done-fade-enter-active, .done-fade-leave-active {
    transition: opacity .5s
  }
  .done-fade-enter, .done-fade-leave-to {
    opacity: 0
  }
</style>

