<template>
  <md-layout md-flex="40" md-align="center" md-column>
    <div class="add-todo">
      <add-todo @created="createTodo"></add-todo>
    </div>
    <div class="todo-items">
      <todo-item
        v-for="todo in todos"
        :todo="todo"
        :key="todo.id"
        @toggle="toggleTodo(todo, $event)" >
      </todo-item>
    </div>
  </md-layout>
</template>

<script>
import TodoItem from './TodoItem'
import AddTodo from './AddTodo'

export default {
  name: 'todo-list',

  components: {
    TodoItem,
    AddTodo
  },

  computed: {
    todos () {
      return this.$store.state.todo.todos
    }
  },

  created () {
    this.$store.dispatch('getTodos')
  },

  methods: {
    toggleTodo (todo) {
      todo.completed = !todo.completed
      this.$store.dispatch('updateTodo', todo)
    },
    createTodo (todo) {
      this.$store.dispatch('createTodo', todo)
    }
  }
}
</script>

<style scoped>
  .todo-items > * {
    margin-bottom: 15px;
  }
  .add-todo {
    margin-bottom: 20px;
  }
  .add-todo {
    width: 100%;
  }
</style>
