<template>
  <div class="footer">
    <span>Todo Vue 2017. No rights reserved. At all.</span>
  </div>
</template>

<script>

</script>

<style scoped>
  .footer {
    width: 100%;
    height: 30px;
    text-align: center;
  }
</style>

