<template>
  <md-whiteframe>
    <md-layout md-vertical-align="stretch" class="header-layout">
      <md-layout md-flex="33" md-align="center" md-vertical-align="center">
        <div class="logo">Todo Vue</div>
      </md-layout>
      <md-layout md-flex md-flex-offset="33" md-vertical-align="center">
        <div v-if="user" class="user-name">{{user.name}}</div>
        <div v-if="user" @click="logout" class="logout">
          <md-icon class="md-primary">exit_to_app</md-icon>
        </div>
      </md-layout>
    </md-layout>
  </md-whiteframe>
</template>

<script>
  export default {
    name: 'app-header',
    computed: {
      user () {
        return this.$store.state.auth.user
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout')
        this.$router.push({ path: '/login' })
      }
    }
  }
</script>

<style scoped>
  .header-layout {
    height: 50px;
  }
  .logout {
    cursor: pointer;
    margin-left: 10px;
  }
  .user-name {
    font-size: 1.2em;
  }
  .logo {
    font-size: 1.4em;
  }
</style>

