<template>
  <md-layout md-flex-medium="50" md-align="center">
    <todo-list></todo-list>
  </md-layout>
</template>

<script>
export default {
  name: 'home',

  created () {
    if (!this.$store.state.auth.authenticated) {
      return this.$router.push({ path: '/login' })
    }
  }
}
</script>

<style scoped>

</style>
