<template>
  <md-layout md-gutter md-align="center">
    <md-layout md-flex="25">
      <div class="form-container">
        <form @keyup="clearError" @submit.prevent="login">
          <md-input-container :class="{ 'md-input-invalid': errors.notFound }">
            <label>Username</label>
            <md-input  v-model="username"></md-input>

            <span class="md-error">No such user</span>
          </md-input-container>
          <md-layout md-align="center">
            <md-button v-if="!isCalling" class="md-raised md-primary" type="submit">Login</md-button>
            <div v-if="isCalling">
              <md-spinner :md-size="40" md-indeterminate class="md-accent"></md-spinner>
            </div>
          </md-layout>
        </form>
      </div>
    </md-layout>
  </md-layout>
</template>

<script>
  export default {
    name: 'app-login',

    data () {
      return {
        username: '',
        isCalling: false,
        errors: {
          notFound: false
        }
      }
    },

    created () {
      if (this.$store.state.auth.authenticated) {
        this.$router.push({ path: '/' })
      }
    },

    methods: {
      clearError () {
        this.errors.notFound = false
      },
      login () {
        this.isCalling = true
        return this.$store.dispatch('login', this.username)
          .then(() => {
            this.$router.push({ path: '/' })
          })
          .catch((err) => {
            if (err.status === 404) {
              this.errors.notFound = true
            }
          })
          .then(() => {
            this.isCalling = false
          })
      }
    }
  }
</script>

<style>
  .form-container {
    width: 100%;
  }
  .error {
    color: red;
  }
</style>

