<template>
  <div id="app">
    <div class="header-container">
      <app-header></app-header>
    </div>
    <div class="app-container">
      <router-view></router-view>
    </div>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader'
import AppFooter from './components/AppFooter'

export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1;
  margin: 30px 0 50px;
}

</style>
